# このファイルを参考にSecretを作成してください
# kubectl create secret generic gameday-workflow-travel-secrets \
#   --from-literal=database-url='jdbc:postgresql://gameday-workflow-db:5432/gameday_workflow_travel' \
#   --from-literal=database-username='gameday_user' \
#   --from-literal=database-password='gameday_password' \
#   --namespace=gameday-workflow

apiVersion: v1
kind: Secret
metadata:
  name: gameday-workflow-travel-secrets
  namespace: gameday-workflow
type: Opaque
stringData:
  database-url: "jdbc:postgresql://gameday-workflow-db:5432/gameday_workflow_travel"
  database-username: "gameday_user"
  database-password: "gameday_password"
